<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579468637462-jr879naf2cthhr1769qd2pk6c0ouh23h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579468637462-jr879naf2cthhr1769qd2pk6c0ouh23h</string>
	<key>API_KEY</key>
	<string>AIzaSyBBOXpGgfjc_K1RPNxcQd0qtVnuMdLJGmU</string>
	<key>GCM_SENDER_ID</key>
	<string>579468637462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducont.fsmgrid</string>
	<key>PROJECT_ID</key>
	<string>fp-androidmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fp-androidmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579468637462:ios:1b342b540dc2fc0a46cc37</string>
	<key>DATABASE_URL</key>
	<string>https://fp-androidmobile.firebaseio.com</string>
</dict>
</plist>